* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

nav {
  z-index: 10000000;
  background-color: #457b9d;
  position: fixed;
}
nav ul li a {
    font-family: "Raleway", sans-serif !important;
}


section#hero-section {
  background-color: #002332;
}
section#hero-section video {
  height: 100vh;
  width: 100vh;

  object-fit: cover;
}
section#hero-section div.important-words {
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#hero-section div.important-words h1,
#hero-section div.important-words p,
#hero-section div.important-words button a {
  font-family: "Raleway", sans-serif !important;
}
#hero-section div.important-words button:hover {
  background-color: #f55536;
  transform: .5s;
}
section.main-content {
  background-color: #002332;
}

ul li a.different{
  font-weight: bold;
}

ul li a.dropdown-item:hover{
  font-weight: bold;
}


section.main-content .container-md .special {
  background-image: url(/images/main-content/Vector.svg);
  background-repeat: no-repeat;
  background-position: right;
}
section.main-content .container-md .row p {
  min-width: 300px;
}
.functions {
  text-align: center;
  margin-bottom: 45px;
  font-family: "Raleway", sans-serif;
}
.functions-btn {
  border: 3.5px solid #f55536;
  color: #f1faee;
  border-radius: 20px;
  
}
.functions-btn:hover {
  background-color: #f55536;
  border: none;
  color: #f1faee;
  font-weight: bold;
  transition: .5s;
}
.section-4 {
  background-color: #f55536;
}
.imgs-div {
  padding: 50px 0;
  text-align: center;
}

footer {

  background-image: url(images/nasa-Q1p7bh3SHj8-unsplash1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-main {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.footer-details {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer-details:hover {
  font-weight: bold;
  color: white;
}

footer li {
  padding-bottom: 25px;
}
